CRASH_MAIL_USER=your_email@gmail.com
CRASH_MAIL_PASS=use_app_password_here
CRASH_MAIL_SENDER_NAME=Crash Alert Bot
CRASH_MAIL_TO=recipient1@example.com,recipient2@example.com
CRASH_MAIL_TO_NAMES=Recipient One,Recipient Two

